@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:wght@400;600;700&display=swap');
 

h1, h2, h3 {
    font-family: 'Nunito';
}

.button {
     background-color: rgb(72, 72, 163);
    
}
#medecins{
    background-color: rgb(210, 229, 249);
}